body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply mx-auto max-w-screen-lg;
}
.section-heading {
  @apply px-8 text-3xl;
}
.description {
  @apply md:flex;
}
.description-left {
  @apply p-8 leading-relaxed md:w-1/2;
}
.description-left-p {
  @apply mb-2;
}
.description-left-h3 {
  @apply py-4 text-xl;
}
.description-left-ul {
  @apply list-disc list-inside;
}
.description-right {
  @apply flex flex-col items-center text-center md:w-1/2;
}
.description-right-container {
  @apply container p-4 md:p-8;
}
.description-right-container-h3 {
  @apply mb-2;
}
.attentino-red {
  @apply text-sm text-red-500;
}
